<%= turbo_frame_tag dom_id(note) do %>
  <div class="p-4 border rounded bg-white">
    <%= link_to 'Edit', edit_note_path(note), class: '' %>
    
    <div class="prose prose-sm">
      <%= note.md %>
    </div>
  </div>
<% end %>
