<p style="color: green"><%= notice %></p>

<%= button_to "New note", notes_path, method: :post %>

<div id="notes" class="grid md:grid-cols-3 gap-4">
  <% @notes.each do |note| %>
    <%= render note %>
  <% end %>
</div>

