<ul class="ml-4 list-disc">
	<% tree.keys.each do |key| %>
		<li>
			<%= link_to key, root_path(params.permit(tags: {include: [], exclude: []})) %>

			<%= render partial: 'partials/tree', locals: {tree: tree[key][:children]} %>
		</li>
	<% end %>
</ul>