<ul class="ml-4 list-disc">
	<% tree.keys.each do |key| %>
		<li>
			<%= tag_link key, tree[key][:path] %>
			<%= render partial: 'partials/tree', locals: {tree: tree[key][:children]} %>
		</li>
	<% end %>
</ul>