@import "codemirror/lib/codemirror.css";
@import "./one-dark.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.highlighter-rouge {
	font-size: 10px;
	padding: 20px;
	font-family: monospace;
	overflow: auto;
	white-space: pre;
	tab-size: 2;
}